body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  grid-gap: 1.3rem;
  background-color: #3d405b;
  padding: 1.3rem;
  border-radius: 1.5rem;
  width: 400px;
  height: 600px;
}

.display {
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 1rem;
  background-color: rgb(235, 226, 226);
  color: #3d405b;
  text-align: right;
  padding: 0.5rem;
}

.display-operation {
  padding: 1.2rem 0.5rem;
  font-size: 2rem;
}

.display,
.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.button {
  font-size: 2rem;
  border: 1px;
  border-radius: 1rem;
  color: #fff;
  /* transition: background-color 0.2s ease-in-out; */
}

.button:hover {
  transform: scale(1.05);
}

.function-btn {
  background-color: #fabd5b;
}

.function-btn:hover {
  background-color: #fda517;
}

.operator {
  background-color: #e07a5f;
  font-size: 2.5rem;
}

.operator:hover {
  background-color: #d05d3d;
}

.number {
  background-color: #81b29a;
}

.number:hover {
  background-color: #4c9170;
}

.span-two {
  grid-column: span 2;
  background-color: #51cae2;
}

.span-two:hover {
  background-color: #02a9ca;
}
