body {
  background-color: #f2cc8f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  grid-gap: 1.3rem;
  background-color: #3d405b;
  padding: 1.3rem;
  border-radius: 1rem;
  width: 500px;
  height: 700px;
}

.display {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-radius: 1rem;
  background-color: #f4f1de;
  color: #3d405b;
  text-align: right;
  padding: 1rem;
}

.display,
.button {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.previous-operand {
  font-style: italic;
}

.current-operand {
  font-size: 3rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.button {
  border: 1px;
  border-radius: 1rem;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}

.function {
  background-color: #fabd5b;
}

.function:hover {
  background-color: #fda517;
}

.operator {
  background-color: #e07a5f;
  font-size: 2.5rem;
}

.operator:hover {
  background-color: #d05d3d;
}

.number {
  background-color: #81b29a;
}

.number:hover {
  background-color: #4c9170;
}
